body {
    font-family: 'Montserrat', sans-serif;
}

 .leftside, .rightside {
     height:100vh;
     width: 100%;
 }

 .leftside {
     background-color: #e6dfdf;
 }

 .rightside {
    background-image: url("../assets/hero.jpg");
}

 .popCourse {
    border-style: solid;
    border-color: darkblue;
    border-width: 5px;
    padding: 2em;
 }

 .copyright {

    padding: 1em;
 }

